<h1>プロフィール登録</h1>

<%= render 'errors' %>

<%= form_with(model: @profile, local: true) do |f| %>
  <%= f.label :name, "名前" %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :birthday, "生年月日(例:20180701)" %>
  <%= f.text_field :birthday %>
  <br>

  <%= f.label :sex, "性別" %>
  <%= f.radio_button :sex, :male %> 男
  <%= f.radio_button :sex, :female %> 女
  <br>

  <%= f.label :school, "学校名" %>
  <%= f.text_field :school %>
  <br>

  <%= f.submit "登録する" %>
<% end %>
