<h1>ユーザー登録</h1>

<%= render 'errors' %>

<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :name, "名前" %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email %>
  <br>

  <%= f.label :birthday, "生年月日(例:20180701)" %>
  <%= f.text_field :birthday %>
  <br>

  <%= f.label :sex, "性別" %>
  <%= f.radio_button :sex, :male %> 男
  <%= f.radio_button :sex, :female %> 女
  <br>

  <%= f.label :school, "学校名" %>
  <%= f.text_field :school %>
  <br>

  <%= f.label :password, "パスワード(6文字以上)" %>
  <%= f.password_field :password %>
  <br>

  <%= f.label :password_confirmation, "パスワード確認" %>
  <%= f.password_field :password_confirmation %>
  <br>

  <%= f.submit "登録する" %>
<% end %>
