<!DOCTYPE html>
<html>
  <head>
    <title>ENavigator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <% if logged_in? %>
      <%= link_to "ユーザー情報", user_path(current_user.id) %>
      <%= link_to "プロフィール編集", edit_user_path(current_user.id) %>
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
    <% else %>
      <%= link_to "ユーザー登録", new_user_path %>
      <%= link_to "ログイン", new_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
